circle.outside {
  r: 5;
  fill: aqua;
  mix-blend-mode: color-burn;
  cursor: move;
}
circle.internal {
  r: 1;
  /*animation: fade 30s linear forwards;*/
}
@keyframes fade {
  0% {
    /*opacity: 100%;*/
    r: 1;
  }
  100% {
    /*opacity: 0%;*/
    r: 0.1;
  }
}