circle.outside {
  r: 5;
  fill: aqua;
  mix-blend-mode: color-burn;
  cursor: move;
}
circle.internal {
  r: 1;
  /*animation: fade 30s linear forwards;*/
}
@keyframes fade {
  0% {
    /*opacity: 100%;*/
    r: 1;
  }
  100% {
    /*opacity: 0%;*/
    r: 0.1;
  }
}
circle.obsolete {
  /*animation: blur 3s linear forwards;*/
  /*filter: url(#blurFilter);*/
  r: 0.2;
}
@keyframes blur {
  0% {
    filter: blur(0)
  }
  100% {
    filter: blur(10);
  }
}